
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;

}

:root{
    --bg-color: lightblue;
}

/* typography */
ul{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.5rem;
}

h1, h2, h3{
    margin: 0;
    padding: 1em !important;
}
img{
    width: 100%;
}
/***********************
 navigation bar
***********************/
header{
    position: relative;
    background-color: #fafbfd;
    width: 100%;
    z-index:999;
    height: 8vh;
    /* border: 2px solid #e9edf8; */
    color: #1e7b85;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;

}

.logo{
    text-align: center;
}
/* nav */
nav{
    position: absolute;
    top: 100%;
    background-color:#fafbfd;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
    /* border: 2px solid #e9edf8; */
}
.nav-list{
    list-style: none;
    margin-left: 1em;
}

.nav-link{
    display: block;
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.2rem;
    color: #1e7b85;
}

.nav-link:hover{
    color: #033a41;
}


/* nav-toggler */
.nav-toggler{
    display: none;
}
.nav-toggler-label{
    position: absolute;
    top: 0px;
    left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggler-label .bar, 
.nav-toggler-label .bar:after,
.nav-toggler-label .bar:before{
    height: 4px;
    width: 2em;
    background-color: #1e7b85;
    position: relative;
}

.nav-toggler-label .bar:after,
.nav-toggler-label .bar:before{
    content: '';
    position: absolute;
}

.nav-toggler-label .bar:after{
    top: -8px;
}
.nav-toggler-label .bar:before{
    top: 8px;
}

.nav-toggler:checked ~ nav{
    transform: scale(1, 1);
}


/* media for navigation bar */
@media only screen and (min-width:40em){
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-toggler-label{
        display: none;
    }
    nav{
        all: unset;
        transform: scale(1,1);
    }
    .nav-list{
        display: flex;
    }
}


/* ******************
    intro section 
**********************/
.intro{
    position: relative;
    display: grid;
    grid-template-columns:1fr;
    grid-template-areas: "hero-title" 
                         "hero-picture" 
                         "hero-paragraph";
    overflow-x: hidden;
}

.intro__title{
    color: #f3f3f3;
    grid-area: hero-title;
    text-align: center;
    padding: 2em;
    border-radius: 2em;
}

.intro__title::after{
    content: '';
    /* background: #2193b0;
    background: -webkit-linear-gradient(to left, #6dd5ed, #6ab0c2);
    background: linear-gradient(to left, #6dd5ed, #4ab5cf); */
    background-color: #ee6352;
    background-image: linear-gradient(-45deg, #ee6352, #d16e8d);
    position: absolute;
    top: -0.5rem;
    left: -10rem;
    right: -10rem;
    bottom: -10rem;
    z-index: -1;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.intro__picture{
    margin: 0 4em;
    grid-area: hero-picture;
    width: 70vw;
    object-fit: cover;
}

.intro__image{
    grid-area: hero-img;
    border-radius: 28px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    object-fit: cover;
}

.intro__paragraph{
    grid-area: hero-paragraph;
    grid-column: 1/-1;
    padding: 1.5em;
}


@media only screen and (min-width:40em){
    
    .intro{    
        margin-top: 2rem;
        overflow: initial;
        /* padding: 1em; */
        grid-template-columns: 2em min-content minmax(300px, 900px) 2em;
        grid-template-areas: ". hero-picture hero-title . "". hero-picture hero-paragraph .";
    }

    .intro__title{
        font-size: 3vw;
        padding: 0px;
    }

    .intro__title::after{
        grid-column: 2/4;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 28px;
    }


    .intro__picture{
        width: 35vw;
        height: 60vh;
        max-width: 250px;
        max-height: 350px;
        margin: 3em;
    }
    
    .intro__image{
        width: 35vw;
        height: 60vh;
        max-width: 250px;
        max-height: 350px;
    }

    .intro__paragraph{
        grid-column: 3/4;
    }

}

@media only screen and (min-width: 65em){

    .intro{
        grid-template-columns: 10vw min-content minmax(300px, 900px) 10vw;
        grid-template-areas: ". hero-picture hero-title . "". hero-picture hero-paragraph .";
    }
}
